<html>
    <hgroup>
        <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <title>{{ title }} - Rock Paper Scissors</title>
        </head>
            <body>
                <h1>Rock, Paper, Scissors</h1>
                <p>
                    {{ results }}
                </p>
    </hgroup>
    <div class="container">
        <img src="https://www.pngkey.com/png/full/111-1113435_rock-paper-scissors-png.png" alt="RockPaperScissors">
        <button class="btn"> <a href="/rock" style="text-decoration: none">#</a></button>
        <button class="btn2"> <a href="/paper" style="text-decoration: none">#</a></button>
        <button class="btn3"> <a href="/scissors" style="text-decoration: none">#</a></button>
    </div>
<footer>
    <p>&copy; RockPaperScissors 2021</p>
</footer>
    </body>
</html>